<div class="nav-container">
            <div class="via-1559049101204" via="via-1559049101204" vio="TE">
                <div class="bar bar--sm visible-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 col-md-2">


  <%= link_to root_path, class: "logo logo-dark" do %>
    <%= image_tag "/assets/logo-tranquille-emile-dark.png" %>
  <% end %>

                            </div>
                            <div class="col-9 col-md-10 text-right">
                                <a href="https://dobbels.typeform.com/to/p4YT6v" class="hamburger-toggle" target="_blank" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="menu1" class="bar bar-1 hidden-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-1 hidden-xs col-md-3">
                                <div class="bar__module">

  <%= link_to root_path, class: "logo logo-dark" do %>
    <%= image_tag "/assets/logo-tranquille-emile-dark.png" %>
  <% end %>

                                </div>
                            </div>
                            <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                                <div class="bar__module">
                                    <a class="btn btn--sm btn--primary type--uppercase" href="https://dobbels.typeform.com/to/p4YT6v" target="_blank"> <span class="btn__text">
                                    get in touch</span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
