<div class="main-container">
    <section class="cover imagebg text-center height-100 parallax" data-overlay="5">
        <div class="background-image-holder"><img alt="background" src="assets/coliving-background.jpg"></div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>LIVE DIFFERENT</h1>
                    <p class="lead"> More than just a place to live, <i>Tranquille Emile</i> is a place where residents <br>share living space and a set of interests and values</p>
                    <form class="row justify-content-center">
                        <div class="col-md-5"> <input type="email" name="email" placeholder="Email Address"> </div>
                        <div class="col-md-5 col-lg-3"> <button type="submit" class="btn btn--primary type--uppercase">stay tuned</button> </div>
                    </form>
                    <div class="row justify-content-center m-0">
                        <div class="col"> <span class="type--fine-print">Already have an account? <a href="#rethinking-residential">Log in here</a></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="what-is-tranquille-emile" class="in-page-link"></a>
    <section class="text-center bg--primary">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8">
                    <h2>What is <i>Tranquille Emile</i>?</h2>
                    <p class="lead">Through <i>Tranquille Emile</i>, we are building a network of flexible and trendy furnished shared homes for people settling in a new city. More than just a place to live, with us, connexions are formed and experiences are shared. </p>
                </div>
            </div>
        </div>
    </section>
    <section class="imageblock switchable feature-large">
        <div class="imageblock__content col-lg-4 col-md-3 pos-right">
            <div class="background-image-holder"> <img alt="image" src="assets/rethinking-residential.jpg"> </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-8">
                    <h1 style="border-bottom: 20px solid #ffdab4; line-height: 30%; width: fit-content;">Rethinking residential</h1>
                    <p class="lead"> We remove all the pain points of housing so that you can stay focus only on the things that are important to you. </p>
                    <div class="feature-large__group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature feature-6"> <i class="icon icon--sm icon-Text-Effect color--primary"></i>
                                    <h5>Cost saving</h5>
                                    <p>The longer you stay, the less you pay!<br>Living in <i>Tranquille Emile</i> Luxembourg let you save over €500 per month versus a typical studio. 💰And you don't even need to pay any fees nor deposit.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature feature-6"> <i class="icon icon--sm icon-Post-Mail2 color--primary"></i>
                                    <h5>Design</h5>
                                    <p> Our properties are minimalistic but well appointed, while our finishes are classic yet modern. We have set out to shape spaces that look and feel like home, while making sure all necessities are provided for. </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature feature-6"> <i class="icon icon--sm icon-Post-Mail2 color--primary"></i>
                                    <h5>Stressless</h5>
                                    <p> We don't only provide all inclusive and lovely furnished properties. No more administrative burden! We work tirelessly to provide our residents with a convenient rental experience enabled by our app which integrates technology into all aspects of our operations. </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature feature-6"> <i class="icon icon--sm icon-Post-Mail2 color--primary"></i>
                                    <h5>Connection</h5>
                                    <p> You deserve the best. Our homes must be seen as a learning, sharing and lifestyle platform. More than just a financial hub at the heart of Europe, with us, Luxembourg helps you form connexions and share experiences. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="great-homes-for-great-people" class="in-page-link"></a>
    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="border-bottom: 20px solid #ffdab4; line-height: 30%; width: fit-content;">Great homes for great people</h1>
                </div>
            </div>
        </div>
    </section>
    <a id="featuresgreat-homes-for-great-people" class="in-page-link"></a>
    <section class="text-center space--xs">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="text-block"> <i class="icon color--dark icon-Home-5 icon--lg"></i>
                        <h4> Private and fully furnished bedroom</h4>
                        <p> You have a private and fully furnished bedroom. Rooms<span>&nbsp;look and feel like home.</span><br><br> </p>
                    </div>
                    <div class="text-block"> <i class="icon icon--lg icon-Mail-3 color--dark"></i>
                        <h4>Learning plateform</h4>
                        <p>Our properties must be seen as a learning, sharing and lifestyle platform.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="text-block"> <i class="icon color--dark icon-Old-TV icon--lg"></i>
                        <h4>Soft mobility</h4>
                        <p> <br>Our properties are located near to major transport hubs so that you will favor soft and alternative transport methods.<br><br></p>
                    </div>
                    <div class="text-block"> <i class="icon icon--lg icon-Air-Balloon color--dark"></i>
                        <h4>Single person of contact</h4>
                        <p> Our dedicated house manager is tasked with overseeing all property and tenant related matters. </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="text-block"> <i class="icon color--dark icon-Add-SpaceBeforeParagraph icon--lg"></i>
                        <h4>Common diners with residents</h4>
                        <p>We don't only provide all inclusive and lovely furnished properties. Our purpose is to foster meaningful experiences through dedicated events.<br> </p>
                    </div>
                    <div class="text-block"> <i class="icon color--dark icon-Add icon--lg"></i>
                        <h4>Special amenities</h4>
                        <p>Have you always dreamed of having a cinema or a gym at home? Try <i>Tranquille Emile</i>'s way of living then!<br> </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="text-block"> <i class="icon icon--lg icon-Fingerprint-2 color--dark"></i>
                        <h4>All inclusive</h4>
                        <p><br> <i>Tranquille Emile</i> is a turnkey living solution which helps you smooth settle. We can even deal for you all your administrative stuff!</p>
                    </div>
                    <div class="text-block"> <i class="icon icon--lg icon-Fingerprint-2 color--dark"></i>
                        <h4>Weekly cleaning</h4>
                        <p>Your time is precious. Don't waste it cleaning! We take care of that.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="who-is-emile" class="in-page-link"></a>
    <section class="text-center space--xxs bg--primary">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8">
                    <h2><i><b>Emile</b></i></h2>
                    <p class="lead"><i>
  name, singular: </i>Emile is a <b>sharing economy native</b> who lives in an <b>amazing home</b> with <b>people he loves</b>. </p>
                </div>
            </div>
        </div>
    </section>
    <a id="testimonials" class="in-page-link"></a>
    <a id="testimonial" class="in-page-link"></a>
    <section class="bg--primary space--xxs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slider slider--inline-arrows" data-arrows="true">
                        <ul class="slides">
                            <li>
                                <div class="testimonial row justify-content-center">
                                    <div class="col-lg-2 col-md-4 col-6 text-center"> <img class="testimonial__image" alt="Image" src="assets/avatar-round-MS.png"> </div>
                                    <div class="col-lg-7 col-md-8 col-12"> <span class="h3"><p>“<i>Tranquille Emile</i> really helped me to settle in Luxembourg.”
            </p></span>
                                        <h5>Dhruv</h5> <span>Tech lead</span> </div>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial row justify-content-center">
                                    <div class="col-lg-2 col-md-4 col-6 text-center"> <img class="testimonial__image" alt="Image" src="assets/avatar-round-MS.png"> </div>
                                    <div class="col-lg-7 col-md-8 col-12"> <span class="h3"><p>“I don't know anyone here so thought this would be a lovely way to meet people.”
            </p></span>
                                        <h5>Morgan</h5> <span>Senior - Auditor, relocates from Deloitte London to Deloitte Luxembourg</span> </div>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial row justify-content-center">
                                    <div class="col-lg-2 col-md-4 col-6 text-center"> <img class="testimonial__image" alt="Image" src="assets/avatar-round-MS.png"> </div>
                                    <div class="col-lg-7 col-md-8 col-12"> <span class="h3"><p>“I appreciate the atmosphere created by the wonderful design of the place."</p></span>
                                        <h5>Michelle</h5> <span>Manager - Advisor, relocates from PwC Johanesbourg to PwC Luxembourg</span> </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="te-properties" class="in-page-link"></a>
    <section class="space--sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="border-bottom: 20px solid #ffdab4; line-height: 30%; width: fit-content;">Emile's properties</h1>
                </div>
            </div>
        </div>
    </section>
    <a id="property-picture" class="in-page-link"></a>
    <section class="space--sm">
        <div class="masonry masonry--gapless">
            <div class="masonry__container bg--secondary masonry--active">
                <div class="col-md-4 col-12 masonry__item filter-marketing" data-masonry-filter="Marketing">
                    <div class="project-thumb hover-element height-40">
                        <a href="#rethinking-residential">
                            <div class="hover-element__initial">
                                <div class="background-image-holder"> <img alt="background" src="assets/gasperich-house.jpg"> </div>
                            </div>
                            <div class="hover-element__reveal" data-overlay="9">
                                <div class="project-thumb__title">
                                    <h5>Gasperich</h5> <span>Emile house #1</span> </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-12 masonry__item filter-marketing" data-masonry-filter="Marketing">
                    <div class="project-thumb hover-element height-40">
                        <a href="" target="_self">
                            <div class="hover-element__initial">
                                <div class="background-image-holder"> <img alt="background" src="assets/belair-house.png"> </div>
                            </div>
                            <div class="hover-element__reveal" data-overlay="9">
                                <div class="project-thumb__title">
                                    <h5>Belair - Soon</h5> <span>Emile house #2<br></span> </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-12 masonry__item filter-marketing" data-masonry-filter="Marketing">
                    <div class="project-thumb hover-element height-40">
                        <a href="#rethinking-residential">
                            <div class="hover-element__initial">
                                <div class="background-image-holder"> <img alt="background" src="assets/bonnevoie-house.png"> </div>
                            </div>
                            <div class="hover-element__reveal" data-overlay="9">
                                <div class="project-thumb__title">
                                    <h5>Bonnevoie - Soon</h5> <span>Emile house #3<br></span> </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="pricing-title" class="in-page-link"></a>
    <section class="bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="border-bottom: 20px solid #ffdab4; line-height: 30%; width: fit-content;">Pricing</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="pricing pricing-1 boxed boxed--border boxed--lg">
                        <h4>&lt;6 months</h4> <span class="h1"><span class="pricing__dollar">€</span>1,300</span>
                        <p> You plan to stay only a few weeks with us? We are sure you will extend but this is your choice&nbsp;😉</p>
                        <a class="btn btn--primary" href="#rethinking-residential"> <span class="btn__text">
                    Let's go!</span> </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing pricing-1 boxed boxed--border boxed--lg boxed--emphasis">
                        <h4>&gt;6 months</h4> <span class="h1"><span class="pricing__dollar">€</span>1,100</span>
                        <p>Stay at least 6 month and enjoy a €200 / 15% discount per month.💰</p> <span class="label">Value</span>
                        <a class="btn btn--primary-1" href="#purchase-template"> <span class="btn__text">Let's go! </span> </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing pricing-1 boxed boxed--border boxed--lg">
                        <h4>Couples</h4> <span class="h1"><span class="pricing__dollar">€</span>1,500</span>
                        <p> Couples are welcome! The more <i>Emile</i> we are, the greater the joy!&nbsp;🎉</p>
                        <a class="btn btn--primary" href="#purchase-template"> <span class="btn__text">Let's go! </span> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="space--xs text-right bg--primary">
        <div class="container">
            <div class="cta cta--horizontal text-center-xs row">
                <div class="col-md-4">
                    <h4> Want to join us?</h4>
                </div>
                <div class="col-md-5">
                    <p class="lead"> Start your journey here 👉</p>
                </div>
                <div class="col-md-3 text-right text-center-xs">
                    <a class="btn btn--primary type--uppercase" href="#rethinking-residential"> <span class="btn__text">
                CHECK AVAILABILITY
            </span> </a>
                </div>
            </div>
        </div>
    </section>

    <div class="typeform-widget" data-url="https://dobbels.typeform.com/to/MrZrsM" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=MrZrsM&utm_source=typeform.com-11908519-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

</div>
