<div class="nav-container"> </div>
<div class="main-container">
<!--     <section class="cover imagebg text-center height-60" data-overlay="3">
        <div class="background-image-holder"><img alt="background" src="img/landing-10.jpg"></div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-9 col-lg-8">
                    <h1><span style="font-style: italic">Tranquille Emile</span> lets you<br> <span class="inline-block typed-text typed-text--cursor color--primary" data-typed-strings="increase your revenues, save time, value your property"></span>
                    </h1>
                    <p class="lead">We provide landlords with long term higher recurring cash flows while taking care of their properties and help them save time</p>
                </div>
            </div>
        </div>
    </section> -->
    <section>
    <div class="container">
        <div class="row">
            <div style="margin-bottom: 50px;" class="col-md-12">
              <h1>
                <span style="font-style: italic">Tranquille Emile</span> lets you<br> <span class="inline-block typed-text typed-text--cursor color--primary" data-typed-strings="increase your revenues, save time, value your property, target top notch tenants"></span>
              </h1>
              <p class="lead">We provide landlords with long term higher recurring cash flows while taking care of their properties and help them save time</p>
            </div>
        </div>
    </div>
</section>
    <section class="text-center bg--primary">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-12">
                    <h1><em>Tranquille Emile</em> is a company which is building a network of flexible, fully furnished &amp community-driven shared homes</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8">
                    <h1>How can <i>Tranquille Emile</i> help?</h1>
                    <p class="lead"> Coliving is a modern form of housing where residents share living space and a set of interests and values </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature">
                        <h4>High returns</h4>
                        <p>We gather like minded people. This authentic community atmosphere is what gives coliving such a draw, leading to <strong>high</strong> <strong>retention</strong> and <strong>low</strong> <strong>vacancy</strong>. Besides, our revenue sharing agreement let us offer a significant increase of your revenues.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <h4>Property valuation</h4>
                        <p>Our<strong> on site dedicated house manager</strong> handle leasing &amp; maintenance, customer service, while increasing the visibility you have on your tenants. Our excellent <strong>design</strong> and <strong>furniture</strong> is how we shape beautiful homes at an exceptional value.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <h4>Peace of mind</h4>
                        <p>You can count on us to answer all calls and emails from tenants.We <strong>handle</strong> all aspects of <strong>maintenance, administration </strong>and our house manager ensures that you have tenants living in your rental property who will <strong>respect</strong> your rental.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="switchable feature-large">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-5 col-md-6 switchable__text">
                    <h2>Coliving is a growing market</h2>
                    <p class="lead"> The rise of coliving comes from a receptive real estate industry, shifts in the job market and demographic variables for the millennial generation.&nbsp;<br>Coliving is a movement, not a trend.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="boxed boxed--lg boxed--border box-shadow-wide">
                        <div class="slider" data-paging="true">
                            <ul class="slides">
                                <li class="col-12">
                                    <div class="feature feature-3 text-center"> <i class="icon icon--lg icon-Money-2 color--primary"></i>
                                        <h4>0%</h4>
                                        <p>the vacancy rate property owners will bear<br></p>
                                    </div>
                                </li>
                                <li class="col-12">
                                    <div class="feature feature-3 text-center"> <i class="icon icon--lg icon-Money color--primary"></i>
                                        <h4>up to 50%</h4>
                                        <p>Our revenue sharing agreement let us offer a significant increase of your revenues</p>
                                    </div>
                                </li>
                                <li class="col-12">
                                    <div class="feature feature-3 text-center"> <i class="icon icon--lg icon-Billing color--primary"></i>
                                        <h4>€1,100</h4>
                                        <p>Minimum price at which a bedroom will be rented </p>
                                    </div>
                                </li>
                                <li class="col-12">
                                    <div class="feature feature-3 text-center"> <i class="icon icon--lg icon-Rocket color--primary"></i>
                                        <h4>40%</h4>
                                        <p> Coliving market yearly growth </p>
                                    </div>
                                </li>
                                <li class="col-12">
                                    <div class="feature feature-3 text-center"> <i class="icon icon--lg icon-Bar-Chart color--primary"></i>
                                        <h4>7,500</h4>
                                        <p> Yearly accommodation shortage in Luxembourg </p>
                                    </div>
                                </li>
                                <li class="col-12">
                                    <div class="feature feature-3 text-center"> <i class="icon icon--lg icon-Business-Mens color--primary"></i>
                                        <h4>19M</h4>
                                        <p> Roommates in Europe </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center bg--dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h1>Properties are minimalistic but well appointed, while finishes are classic yet modern. <br>We have set out to shape spaces that look and feel like home, while making sure all necessities are provided for.</h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <h4>What can you expect from <i>Tranquille Emile</i>?</h4>
                    <br>
                    <p> Our turnkey coliving management solution for properties provides stable higher cash flows and a hands-off investment. We are your guaranteed single tenant by taking on a long-term structured agreements, therefore eliminating the risk of vacancy. </p>
                    <br>
                    <p> We work tirelessly to provide our residents with a convenient and community-driven rental experience enabled by our app which integrates technology into all aspects of our operations. </p>
                    <br>
                    <p> We leverage on our brand and our thoughtful design to have a continuous flow of new tenants. Tens of new comers have already contacted us to experiment this new way of living! Our growing waiting list ensures that we never miss out on a lead so that we cancel the vacancy risk. </p>
                    <br>
                    <p> Each property has a dedicated house manager, tasked with overseeing all property and tenant related matters. </p>
                </div>
                <div class="col-md-6">
                    <div style="background: white;" class="boxed boxed--lg boxed--border bg--secondary"> <img alt="image" src="/assets/coliving.png" class="border--round">
                        <h5>Live. Share. Enjoy.</h5>
                        <p> We are building a network of flexible and trendy furnished shared homes for people settling in a new city. More than just a place to live, with us, connexions are formed and experiences are shared. Besides, we cultivate a new way of living to fit people's lifestyle. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="cta">
                        <h2>Ready to be part of the story?</h2>
                        <p> We believe that real community emerges organically. To invite the conditions for authentic culture to arise, we are looking for property owners.Those partners need to truly believe in coliving and must be willing to assume a pioneer role.Our purpose is to onboard you in a mew, trendy and meaningful adventure. If that is you, let’s have a talk! </p> <a class="btn btn--primary type--uppercase" href="https://dobbels.typeform.com/to/p4YT6v" target="_blank"><span class="btn__text">get in touch</span>
            </a> </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/flickity.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/scripts.js"></script>
